.item {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
}

.item:last-child {
    margin-bottom: 0;
}

.item__img {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #e8e6e6;
}

.item img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.item__like {
    display: flex;
    gap: 10px;
    align-items: center;
}

.item__like button {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 2px;
    background: cadetblue;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

.item__like button svg {
    width: 100%;
}