html, body, #root {
  height: 100%;
}

.app-wrapper {
  display: grid;
  grid-template-areas: 'header'
                        'container';
  grid-template-rows: 70px 1fr;
  grid-gap: 10px;
  min-height: 100%;
  height: auto;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.app-container {
  grid-area: container;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'nav content';
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.app-wrapper-content {
  grid-area: content;
}

img {
  max-width: 100%;
}